body {
  margin: 0;
}

.App .App-header {
  background-color: #ADD8E6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hubeau-app {
  width: 95%;
  margin: auto;
  margin-top: 10px;
}

.hubeau-map {
  border: solid;
  border-color: #282c34;
}

.hubeau-form {
  text-align: center;
  margin-bottom: 10px;
}

.leaflet-container {
  width: 75%;
  height: 85vh;
  float: left;
}

.comments {
  text-align: center;
  float: left;
  background-color: #ADD8E6;
  width: 23%;
  height: 85vh;
  margin-left: 20px;
  border: solid;
  border-color: #282c34;
  overflow: auto;
}

.comment {
  background-color: white;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  height: 120px;
  overflow: auto;
  position: relative;
}

.imgComment {
  height: 50px;
  margin-left: 5px;
  margin-top: 5px;
  float: left;
  border-radius: 10px;
}

.nameComment {
  margin: 0;
}

.textComment {
 margin: 0;
 margin-left: 5px;
 margin-top: 10px;
 float: left;
}

.dateComment {
  position: absolute;
  bottom: 0;
  right: 5px;
}

.commentsTitle {
  margin: 5px;
  background-color: rgb(53, 71, 77);
  border : solid;
  border-color: black;
  color: white;
}

.postComment {
  margin: 15px;
}

.textareaComment {
  resize: none;
  width: 100%;
  height: 100px;
}

.submitComment {
  background-color: rgb(54, 103, 119);
  width: 30%;
  height: 30px;
  color: white;
  font-size: 20px;
  border: solid;
  border-radius: 5px;
  border-width: 3px;
  border-color: black;
}

.weather {
  text-align: center;
}
.weather-icon {
  width: 40px;
}

.imgProfile{
  height: 50px;
  margin: 5px;
  vertical-align: middle;
}

.navbar {
  height: 10vh;
  max-height: 60px;
  width: 100%;
  overflow: hidden;
  background-color: #ADD8E6;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navbar-text {
  margin: 5px;
  font-weight: bold;
}

.navbar-title {
  margin: 5px;
  flex: 1;
}

.navbar-logo {
  height: 50px;
}

.buttonLogout {
  margin: 10px;
}

.home-instructions {
  margin-bottom: 10px;
}